/* 글꼴(Test) */
@font-face{
    font-family: "Spoqa Han Sans";
    font-weight: 200;
    src: url("../fonts/Spoqa\ Han\ Sans\ Thin.ttf") format("truetype");
}
@font-face{
    font-family: "Spoqa Han Sans";
    font-weight: 300;
    src: url("../fonts/Spoqa\ Han\ Sans\ Light.ttf") format("truetype");
}
@font-face{
    font-family: "Spoqa Han Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Spoqa\ Han\ Sans\ Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Spoqa Han Sans";
    font-weight: 500;
    src: url("../fonts/Spoqa\ Han\ Sans\ Bold.ttf") format("truetype");
}


/* 로그인 에어리어 */
.loginFormBox{
    float: left;
    height: 10vh;
    padding: 0.5vh 0 0 10vw;
}
.floatBox{
    float: left;
    margin: 0 1vw;
}
.floatBox p{
    font-family: Spoqa Han Sans;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1.8px;
    color: white;
    line-height: 2px;
}
.loginArea{
    float: left;
    width: 70vw;
    height: 10vh;
    background-color: #4267b2;
    border-bottom: 2px solid #355797;
}

/* 로그인 폼 */
input[type="text"], input[type="password"]{
    height:25px;
    padding-left: 2%;
}
input[type="submit"]{
    height: 30px;
    background-color: #4267b2;
    border: 1.5px solid #29487d;
    border-radius: 3px;
    color: white;
    font-size: medium;
}
input[type="submit"]:hover{
    background-color: #365899;
    cursor: pointer;
}
input[type="submit"]:active{
    background-color: #29487d;
}

/* 회원가입 버튼 */
.joinMemberBtn{
    float: left;
    width: 80px;
    height: 25px;
    background-color: #4267b2;
    border: 1.5px solid #29487d;
    color: white;
    border-radius: 3px;
    margin: 26px 0 0 2vw;
    text-align: center;
    line-height: 25px;
}
.joinMemberBtn:hover{
    background-color: #365899;
    cursor: pointer;
}
.joinMemberBtn:active{
    background-color: #29487d;
}
