/* 헤더 공통 */
.headerMain{
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: #4267b2;
  vertical-align: middle;
  border-bottom: 1.5px solid #355797;
}
.headerMember{
  float: left;
  height: 30px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  margin-top: 7.5px;
}



/* 헤더 로고 */
#headerLogoBox{
  width: 30px;
  height: 30px;
  line-height: 45px;
  
}
#headerLogoBox img{
  width: 30px;
  height: 30px;
  vertical-align: top;
  border-radius: 8px;
  border: 1px solid #4267b2;
  margin-top: -1px;
}



/* 검색창 */
#headerSearchBox{
  width:350px;
  background-color: white;
  color : gray;
  border-radius: 5px;
}
#headerSearchBar{
  margin-left: 10px;
  width: 309px;
  height: 30px;
  float: left;
  border-right: 1px solid lightgray;
}
#headerMagnifierIcon{
  opacity: 0.8;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 0px;
}
#headerMagnifierIcon:hover{
  opacity: 1.0;
}


/* 퀵바 */
.headerMemberVerticalPosition{
  float: left;
  padding: 0 5px;
}
#headerQuickBar{
  width: 200px;
}
#headerMyPage:hover, #headerHomeBtn:hover{
  background-color: #3b5ca0;
  border-radius: 5px;
}
#headerMyPageFace{
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 5px;
}
#headerMyPageName{
  float: left;
  margin-left: 5px;
}
.headerDivisionBar{
  float: left;
  padding: 0 5px;
  color: lightgray;
  font-weight: 500;
}



/* 설정박스 */
#headerSettingBoxBtn{
  margin-top: 0px;
  width: 45px;
  height: 45px;
  float: right;
}
#headerSettingBoxBtn:hover{
  cursor: pointer;
  opacity: 0.5;
}
#headerSettingBoxBtn img{
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-left: 15px;
}
.headerSettingBox{
  position: relative;
  top: 55px;
  left: 1140px;
  background-color: white;
  width: 230px;
  border: 1px solid lightgray;
  color : black;
  font-weight: 300;
  padding: 10px 0;
  border-radius: 5px;
}
.headerSettingBoxMember{
  padding: 5px 0 5px 27px;
  margin:0 2px;
}
.headerSettingBoxMember:hover{
  color : white;
  background-color: #4267b2;
}
.hrLine{
  width: 210px;
}


/* 띄어쓰기 블럭_왼쪽 */
.div100{
  width: 100px;
  height: 30px;
  float: left;
}
.div200{
  width : 200px;
  height: 30px;
  float: left;
}
.div300{
  width : 300px;
  height: 30px;
  float: left;
}
.div400{
  width : 400px;
  height: 30px;
  float: left;
}

/* 띄어쓰기 블럭_오른쪽 */
.div100_right{
  width : 100px;
  height: 30px;
  float: right;
}
.div200_right{
  width : 200px;
  height: 30px;
  float: right;
}
.div300_right{
  width : 300px;
  height: 30px;
  float: right;
}
.div400_right{
  width : 400px;
  height: 30px;
  float: right;
}


.testDivForScroll{
  width: 300px;
  height: 1000px;
  background-color: red;
}