/* 헤더 공통 */
.headerMain{
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 43px;

  background-color: #4267b2;
  vertical-align: middle;
  border-bottom: 1.5px solid #355797;
}
.headerMember{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: white;
  font-weight: 700;
}


/* 헤더 로고 */
#headerLogoBox{
  width: auto;
  height: 70%;
  margin: 0 1% 0 10%;
}
#headerLogoBox img{
  width: auto;
  height: 100%;
  border-radius: 15%;
  border: 1px solid #4267b2;
}



/* 검색창 */
#headerSearchBox{
  width: 25%;
  height: 70%;
  background-color: white;
  color : gray;
  border-radius: 3px;
}
#headerSearchBar{
  margin-left: 10px;
  width: calc(100%-height-1px);
  height: 100%;
  float: left;
}
#headerMagnifierBox{
  height: 100%;
}
#headerMagnifierIcon{
  opacity: 0.8;
  float: right;
  width: auto;
  height: 100%;
  margin-right: 0px;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  border-left: 1px solid lightgray;
}
#headerMagnifierIcon:hover{
  opacity: 1.0;
}


/* 퀵바 */
.quickBarMembmer{
  float: left;
  height: 70%;
}
#headerQuickBar{
  margin: 0 10vw 0 30vw;
  height: 100%;
}
#headerMyPage:hover, #headerHomeBtn:hover{
  background-color: #3b5ca0;
  border-radius: 5px;
}
#headerMyPageFaceBox{
  height: 100%;
  display: inline-block;
}
#headerMyPageFace{
  width: auto;
  height: 100%;
  border-radius: 15px;
}
#headerMyPageName{
  display: inline-block;
  height: 100%;
  margin-left: 5px;
}
.headerDivisionBar{
  float: left;
  padding: 0 5px;
  color: lightgray;
  font-weight: 500;
}



/* 설정박스 */
#headerSettingBoxBtn{
  display: inline-block;
  width: 45px;
  height: 45px;
}
#headerSettingBoxBtn:hover{
  cursor: pointer;
}
#settingBoxImgBox:hover{
  opacity: 0.5;
}
#headerSettingBoxBtn div img{
  width: 15px;
  height: 10%;
  margin-left: 15px;
}
.headerSettingBox{
  position: relative;
  top: 25px;
  right: 180px;
  background-color: white;
  width: 230px;
  height: auto;
  border: 1px solid lightgray;
  color : black;
  font-weight: 300;
  padding: 10px 0;
  border-radius: 5px;
}
.headerSettingBoxMember{
  padding: 5px 0 5px 27px;
  margin:0 2px;
}
.headerSettingBoxMember:hover{
  color : white;
  background-color: #4267b2;
}
.hrLine{
  width: 210px;
}


/* 띄어쓰기 블럭_왼쪽 */
.div100{
  width: 100px;
  height: 30px;
  float: left;
}
.div200{
  width : 200px;
  height: 30px;
  float: left;
}
.div400{
  width : 400px;
  height: 30px;
  float: left;
}

/* 띄어쓰기 블럭_오른쪽 */
.div100_right{
  width : 100px;
  height: 30px;
  float: right;
}
.div200_right{
  width : 200px;
  height: 30px;
  float: right;
}
.div300_right{
  width : 300px;
  height: 30px;
  float: right;
}
.div400_right{
  width : 400px;
  height: 30px;
  float: right;
}